@model TerraeApp.Models.Members.LoginViewModel



<div class="container-fluid" id="loginpage">


        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-login">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-5 col-md-6 col-lg-6 left">
                                <a href="#" class="active left" id="login-form-link">Login</a>

                            </div>
                            <div class="col-xs-5 col-md-6 col-lg-6 right">

                                <a href="/Account/Register" class="alert-link right" id="login-form-link">¿Eres nuevo? Regístrate!</a>
                            </div>

                        </div>
                        <hr>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form id="login-form" asp-action="Login" enctype="multipart/form-data" method="post" role="form" style="display: block;" asp-controller="MembersHome" class="active">

                                    <div class="form-group">
                                        <input asp-for="NombreUsuario" type="text" name="nombreusuario" id="nombre" tabindex="1" class="form-control" placeholder="Usuario" />
                                        <span asp-for="NombreUsuario" class="text-danger"></span>
                                        
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="Contraseña" type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Contraseña" />
                                      <span asp-for="Contraseña" class="text-danger"></span>
                                       
                                    </div>
                                    <div class="form-group text-center">
                                        <input asp-for="RememberMe" type="checkbox" tabindex="3" class="" name="remember" id="remember" />
                                        <label asp-for="RememberMe ">Recordar</label>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <button type="submit" name="login-submit" id="login-submit" tabindex="4" onclick="" class="form-control btn btn-login">Entrar</button>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="text-center">
                                                    <a href="/Account/Register" tabindex="5" class="forgot-password">¿Olvidaste la contraseña?</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



