@model TerraeApp.Models.Empleado.EmpleadoDetallesModel



<div class="container">
    <div class="page-header clearfix">

        </div>
    </div>

<div class="jumbotron">
    <div class="row">
        <h2> Curriculum de: Model.PrimerApellido</h2>
        <dl>
            <dt><b>Nombre</b></dt>
            <dd>Model.Nombre</dd>

        </dl>
        <hr />
        <dl>
            <dt><b>Primer Apellido</b></dt>
            <dd>Model.PrimerApellido</dd>

        </dl>
        <hr />
        <dl>
            <dt><b>Numero de Identidad</b></dt>
            <dd>Model.Identidad</dd>

        </dl>
        <hr />
        <dl>
            <dt><b>Direccion postal</b></dt>
            <dd>Model.Direccion</dd>

        </dl>

    </div>
</div>