@model TerraeApp.Models.Empleado.EmpleadoDetallesModel

    <div class="row container-fluid">
        <div class="page-heading">
            <img src="~/images/empleado1.jpg" class="img-rounded left" style="max-width:100%; height:auto"/>
            
        </div>
    </div>
<div class="clearfix" style="margin-bottom:20px;"></div>

<div class="jumbotron">
    <div class="row container-fluid">
        <dl>
            <p><b>Nombre:&nbsp;</b>@Model.Nombre&nbsp;@Model.PrimerApellido&nbsp;@Model.SegundoApellido</p>

        </dl>
        <dl>
            <p><b>Telefono:&nbsp;</b>@Model.NumeroTelefono</p>

        </dl>
        <dl>
            <p><b>Provincia:&nbsp;</b>@Model.Provincia</p>

        </dl>
        <dl>
            <p><b>Experiencia:&nbsp;</b>@Model.ExperienciaLaboral</p>

        </dl>

        

        

    </div>
</div>
